<!-- SYNTAX TEST "HTML (EEx).sublime-syntax" -->

   <!DOCTYPE html>
<!-- ^^^^^^^ keyword.declaration.doctype.html -->
<html lang="<%= "en" %>">
<!--                   ^ meta.attribute-with-value.html meta.string.html - meta.interpolation -->
<!--                 ^^ meta.attribute-with-value.html meta.string.html meta.embedded.eex - source -->
<!--           ^^^^^^ meta.attribute-with-value.html meta.string.html meta.embedded.eex source.elixir.embedded.eex -->
<!--        ^^^ meta.attribute-with-value.html meta.string.html meta.embedded.eex - source -->
<!--       ^ meta.attribute-with-value.html meta.string.html - meta.interpolation -->
<!--                   ^ punctuation.definition.string.end.html -->
<!--                 ^^ punctuation.section.embedded.end.eex -->
<!--            ^^^^ string.quoted.double.elixir - string string -->
<!--        ^^^ punctuation.section.embedded.begin.eex -->
<!--       ^ punctuation.definition.string.begin.html -->

     <%# Comment %>
<!--             ^^ punctuation.section.embedded.end.eex - comment -->
<!--   ^^^^^^^^^^ comment.block.eex - constant -->
<!--   ^ punctuation.definition.comment.begin.eex -->
<!-- ^^ punctuation.section.embedded.begin.eex - comment -->
<!-- ^^^^^^^^^^^^^^ text.html.eex meta.embedded.eex -->

     <br class="<%# Comment %>" />
<!--                        ^^ punctuation.section.embedded.end.eex - comment -->
<!--              ^^^^^^^^^^ comment.block.eex - constant -->
<!--              ^ punctuation.definition.comment.begin.eex -->
<!--            ^^ punctuation.section.embedded.begin.eex - comment -->
<!--            ^^^^^^^^^^^^^^ text.html.eex meta.embedded.eex - string -->

     <% func arg %>
<!--             ^^ text.html.eex meta.embedded.eex - source -->
<!--   ^^^^^^^^^^ text.html.eex meta.embedded.eex source.elixir.embedded.eex -->
<!-- ^^ text.html.eex meta.embedded.eex - source -->
<!--             ^^ punctuation.section.embedded.end.eex -->
<!--         ^^^ variable.other.elixir -->
<!--    ^^^^ variable.function.elixir -->
<!-- ^^ punctuation.section.embedded.begin.eex -->

     <%= if true? do %>
<!--                 ^^ text.html.eex meta.embedded.eex - source -->
<!--    ^^^^^^^^^^^^^ text.html.eex meta.embedded.eex source.elixir.embedded.eex -->
<!-- ^^^ text.html.eex meta.embedded.eex - source -->
<!--                 ^^ punctuation.section.embedded.end.eex -->
<!--              ^^ keyword.context.block.do.elixir -->
<!--        ^^^^^ variable.other.elixir -->
<!--     ^^ keyword.control.conditional.elixir -->
<!-- ^^^ punctuation.section.embedded.begin.eex -->
     <% end %>
<!--        ^^ text.html.eex meta.embedded.eex - source -->
<!--   ^^^^^ text.html.eex meta.embedded.eex source.elixir.embedded.eex -->
<!-- ^^ text.html.eex meta.embedded.eex - source -->
<!--        ^^ punctuation.section.embedded.end.eex -->
<!--    ^^^ keyword.context.block.end.elixir -->
<!-- ^^ punctuation.section.embedded.begin.eex -->

     <%% quoted :code %>
<!--                  ^^ text.html.eex meta.embedded.eex - source -->
<!--    ^^^^^^^^^^^^^^ text.html.eex meta.embedded.eex source.elixir.embedded.eex -->
<!-- ^^^ text.html.eex meta.embedded.eex - source -->
<!--                  ^^ punctuation.section.embedded.end.eex -->
<!--            ^^^^^ constant.other.symbol.elixir -->
<!--     ^^^^^^ variable.function.elixir -->
<!-- ^^^ punctuation.section.embedded.begin.eex -->

     <%%= quoted :result %>
<!--                     ^^ text.html.eex meta.embedded.eex - source -->
<!--     ^^^^^^^^^^^^^^^^ text.html.eex meta.embedded.eex source.elixir.embedded.eex -->
<!-- ^^^^ text.html.eex meta.embedded.eex - source -->
<!--                     ^^ punctuation.section.embedded.end.eex -->
<!--             ^^^^^^^ constant.other.symbol.elixir -->
<!--      ^^^^^^ variable.function.elixir -->
<!-- ^^^^ punctuation.section.embedded.begin.eex -->
</html>
