<!-- SYNTAX TEST "HTML (HEEx).sublime-syntax" -->

   <!DOCTYPE html>
<!-- ^^^^^^^ keyword.declaration.doctype.html -->

<html lang="{"en"}" lang={"en"}>
<!--                           ^ punctuation.definition.tag.end.html -->
<!--              ^ invalid.illegal.attribute-name.html -->
<!--             ^ - punctuation.section.embedded.end.elixir -->
<!--            ^ invalid.illegal.attribute-name.html -->
<!--         ^^^^ - string.quoted.double.elixir -->
<!--        ^ - punctuation.section.embedded.begin.elixir -->
<!--       ^ punctuation.definition.string.begin.html -->

<!-- HTML comment w/o {"interpolation"} -->
<!--                                  ^ - punctuation.section.embedded.end.elixir - source -->
<!--                   ^^^^^^^^^^^^^^^ - source.elixir.embedded.html -->
<!--                  ^ - punctuation.section.embedded.begin.elixir - source -->
<!--                  ^^^^^^^^^^^^^^^^^ - comment.block.html meta.embedded -->

     <%# Comment %>
<!--             ^^ punctuation.section.embedded.end.eex - comment -->
<!--   ^^^^^^^^^^ comment.block.eex - constant -->
<!--   ^ punctuation.definition.comment.begin.eex -->
<!-- ^^ punctuation.section.embedded.begin.eex - comment -->
<!-- ^^^^^^^^^^^^^^ text.html.heex meta.embedded.eex -->

     <script>
       <%= @elixir %>
<!--        ^^^^^^ variable.annotation.js - source.elixir -->
     </script>

     <br class="<%# Comment %>" />
<!--           ^^^^^^^^^^^^^^^^ meta.string.html string.quoted.double.html - comment -->

     <p {"tag"}={"value"}>
<!--                     ^ punctuation.definition.tag.end.html -->
<!--                     ^ meta.tag.block.any.html - meta.attribute-with-value -->
<!--                    ^ punctuation.section.embedded.end.elixir - source -->
<!--             ^^^^^^^ source.elixir.embedded.html meta.string.elixir string.quoted.double.elixir -->
<!--            ^ punctuation.section.embedded.begin.elixir - source -->
<!--            ^^^^^^^^^ meta.tag meta.attribute-with-value.html meta.embedded.heex -->
<!--           ^ punctuation.separator.key-value.html -->
<!--          ^ - punctuation.section.embedded.end.elixir string -->
<!--     ^^^^^ - source.elixir.embedded.html meta.string.elixir string.quoted.double.elixir -->
<!--           ^ meta.tag meta.attribute-with-value.html - meta.embedded -->
<!--    ^ - punctuation.section.embedded.begin.elixir - source -->
<!--    ^^^^^^^ meta.tag meta.attribute-with-value.html -->
<!-- ^^^ meta.tag.block.any.html - meta.attribute-with-value -->

     <.table rows={@users}>
<!--                      ^ punctuation.definition.tag.end.html -->
<!--                     ^ punctuation.section.embedded.end.elixir -->
<!--               ^^^^^^ source.elixir.embedded.html -->
<!--              ^^^^^^^^ meta.tag.other.heex meta.attribute-with-value.html meta.embedded.heex -->
<!--              ^ punctuation.section.embedded.begin.elixir -->
<!--             ^ punctuation.separator.key-value.html -->
<!--         ^^^^ entity.other.attribute-name.html -->
<!--   ^^^^^ variable.function.heex -->
<!--  ^ punctuation.accessor.dot.heex -->
<!-- ^ punctuation.definition.tag.begin.html -->
<!--                      ^ meta.tag.other.heex - meta.attribute-with-value - meta.embedded -->
<!--         ^^^^^ meta.tag.other.heex meta.attribute-with-value.html - meta.embedded -->
<!-- ^^^^^^^^ meta.tag.other.heex - meta.attribute-with-value-->
       <:col let={user} label="Name">
<!--                                ^ punctuation.definition.tag.end.html -->
<!--                    ^^^^^^^^^^^^ meta.attribute-with-value.html -->
<!--         ^^^^^^^^^^ meta.attribute-with-value.html -->
<!--    ^^^^ entity.name.tag.begin.heex - punctuation -->
<!--   ^ punctuation.definition.tag.begin.html -->
<!--   ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ meta.tag.other.heex -->
         <%= user.name %>
<!--                   ^^ punctuation.section.embedded.end.eex -->
<!--        ^^^^^^^^^^^ source.elixir.embedded.html -->
<!--     ^^^ punctuation.section.embedded.begin.eex -->
<!--     ^^^^^^^^^^^^^^^^ meta.embedded.eex -->
       </:col>
<!--         ^ punctuation.definition.tag.end.html -->
<!--     ^^^^ entity.name.tag.end.heex - punctuation -->
<!--   ^^ punctuation.definition.tag.begin.html -->
<!--   ^^^^^^^ meta.tag.other.heex -->
     </.table>
<!--         ^ punctuation.definition.tag.end.html -->
<!--    ^^^^^ variable.function.heex -->
<!--   ^ punctuation.accessor.dot.heex -->
<!-- ^^ punctuation.definition.tag.begin.html -->
<!-- ^^^^^^^^^ meta.tag.other.heex -->

     <MyApp name={@name}>
<!--        ^^^^^^^^^^^^ meta.attribute-with-value.html -->
<!--       ^ - entity -->
<!--  ^^^^^ entity.name.tag.begin.heex -->
<!-- ^ punctuation.definition.tag.begin.html -->
<!-- ^^^^^^^^^^^^^^^^^^^^ meta.tag.other.heex - meta.tag meta.tag -->

     <MyApp.User.tag name={@name}>
<!--                      ^^^^^^^ meta.attribute-with-value.html meta.embedded.heex -->
<!--                 ^^^^^ meta.attribute-with-value.html - meta.embedded -->
<!-- ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ meta.tag.other.heex - meta.tag meta.tag -->
<!--                             ^ punctuation.definition.tag.end.html -->
<!--                            ^ punctuation.section.embedded.end.elixir -->
<!--                       ^^^^^ source.elixir.embedded.html -->
<!--                      ^ punctuation.section.embedded.begin.elixir -->
<!--                     ^ punctuation.separator.key-value.html -->
<!--                 ^^^^ entity.other.attribute-name.html -->
<!--             ^^^ variable.function.heex -->
<!--            ^ punctuation.accessor.dot.heex -->
<!--        ^^^^ entity.name.tag.begin.heex -->
<!--       ^ punctuation.accessor.dot.heex -->
<!--  ^^^^^ entity.name.tag.begin.heex -->
<!-- ^ punctuation.definition.tag.begin.html -->
     </MyApp.User.tag>
<!--                 ^ punctuation.definition.tag.end.html -->
<!--              ^^^ variable.function.heex -->
<!--             ^ punctuation.accessor.dot.heex -->
<!--         ^^^^ entity.name.tag.end.heex -->
<!--        ^ punctuation.accessor.dot.heex -->
<!--   ^^^^^ entity.name.tag.end.heex -->
<!-- ^ punctuation.definition.tag.begin.html -->
<!-- ^^^^^^^^^^^^^^^^^ meta.tag.other.heex - meta.tag meta.tag -->

     <t{=@a}a />
<!--  ^^^^^^^ entity.name.tag.other.html - meta.embedded - source -->
<!-- ^^^^^^^^^^^ meta.tag.other.html -->

     <{=@a}a />
<!-- ^^^^^^^^^^ - meta.tag -->

     <% func arg %>
<!--             ^^ text.html.heex meta.embedded.eex - source -->
<!--   ^^^^^^^^^^ text.html.heex meta.embedded.eex source.elixir.embedded.html -->
<!-- ^^ text.html.heex meta.embedded.eex - source -->
<!--             ^^ punctuation.section.embedded.end.eex -->
<!--         ^^^ variable.other.elixir -->
<!--    ^^^^ variable.function.elixir -->
<!-- ^^ punctuation.section.embedded.begin.eex -->

     <%= if true? do %>
<!--                 ^^ text.html.heex meta.embedded.eex - source -->
<!--    ^^^^^^^^^^^^^ text.html.heex meta.embedded.eex source.elixir.embedded.html -->
<!-- ^^^ text.html.heex meta.embedded.eex - source -->
<!--                 ^^ punctuation.section.embedded.end.eex -->
<!--              ^^ keyword.context.block.do.elixir -->
<!--        ^^^^^ variable.other.elixir -->
<!--     ^^ keyword.control.conditional.elixir -->
<!-- ^^^ punctuation.section.embedded.begin.eex -->
     <% end %>
<!--        ^^ text.html.heex meta.embedded.eex - source -->
<!--   ^^^^^ text.html.heex meta.embedded.eex source.elixir.embedded.html -->
<!-- ^^ text.html.heex meta.embedded.eex - source -->
<!--        ^^ punctuation.section.embedded.end.eex -->
<!--    ^^^ keyword.context.block.end.elixir -->
<!-- ^^ punctuation.section.embedded.begin.eex -->

     <%% quoted :code %>
<!--                  ^^ text.html.heex meta.embedded.eex - source -->
<!--    ^^^^^^^^^^^^^^ text.html.heex meta.embedded.eex source.elixir.embedded.html -->
<!-- ^^^ text.html.heex meta.embedded.eex - source -->
<!--                  ^^ punctuation.section.embedded.end.eex -->
<!--            ^^^^^ constant.other.symbol.elixir -->
<!--     ^^^^^^ variable.function.elixir -->
<!-- ^^^ punctuation.section.embedded.begin.eex -->

     <%%= quoted :result %>
<!--                     ^^ text.html.heex meta.embedded.eex - source -->
<!--     ^^^^^^^^^^^^^^^^ text.html.heex meta.embedded.eex source.elixir.embedded.html -->
<!-- ^^^^ text.html.heex meta.embedded.eex - source -->
<!--                     ^^ punctuation.section.embedded.end.eex -->
<!--             ^^^^^^^ constant.other.symbol.elixir -->
<!--      ^^^^^^ variable.function.elixir -->
<!-- ^^^^ punctuation.section.embedded.begin.eex -->
</html>
